version: "3.8"

services:
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: ip-spectre-backend
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ../frontend
    container_name: ip-spectre-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
