trigger:
  branches:
    include:
      - main
      - master

pool:
  vmImage: ubuntu-latest

stages:
- stage: Build_Test
  displayName: Build & Test
  jobs:
  - job: Python_CLI
    displayName: Python CLI Smoke Test
    steps:
    - checkout: self

    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
      displayName: Set up Python 3.11

    - script: |
        python -m pip install --upgrade pip
        pip install -r cli/requirements.txt
      displayName: Install Python dependencies

    - script: |
        python cli/cli.py --help || true
      displayName: CLI Smoke Test

    - script: |
        docker build -t ip-spectre -f docker/Dockerfile .
      displayName: Build Docker Image


- stage: Terraform_Validate
  displayName: Terraform Validate
  dependsOn: Build_Test
  jobs:
  - job: Terraform
    displayName: Terraform Init & Validate
    steps:
    - checkout: self

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: '1.6.6'
      displayName: Install Terraform

    - script: |
        cd terraform
        terraform init -backend=false
      displayName: Terraform Init

    - script: |
        cd terraform
        terraform validate
      displayName: Terraform Validate
