trigger:
- none

variables:
- group: aws-cred-mihaela

pool:
  vmImage: ubuntu-latest

stages:
- stage: Build_Test
  displayName: Build & Test
  jobs:
  - job: Python_CLI
    displayName: Python Test
    steps:
    - checkout: self

    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
      displayName: Set up Python 3.11

    - script: |
        echo "Login to Amazon ECR"
        aws ecr get-login-password --region $(AWS_REGION) \
          | docker login \
            --username AWS \
            --password-stdin $(AWS_ACCOUNT_ID).dkr.ecr.$(AWS_REGION).amazonaws.com
      displayName: Login to ECR
      env:
        AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
        AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)

    - script: |
        cd "Assignment 8 - FINAL BOSS"
        docker build -t ip-spectre -f docker/Dockerfile .
        docker tag ip-spectre:latest \
          $(AWS_ACCOUNT_ID).dkr.ecr.$(AWS_REGION).amazonaws.com/ip-spectre:latest
        docker push \
          $(AWS_ACCOUNT_ID).dkr.ecr.$(AWS_REGION).amazonaws.com/ip-spectre:latest
      displayName: Build & Push Docker Image to ECR
      env:
        AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
        AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)


- stage: Terraform_Validate
  displayName: Terraform Validate
  dependsOn: Build_Test
  jobs:
  - job: Terraform
    displayName: Terraform Init & Validate
    steps:
    - checkout: self

    - script: |
        curl -fsSL https://releases.hashicorp.com/terraform/1.6.6/terraform_1.6.6_linux_amd64.zip -o terraform.zip
        unzip terraform.zip
        sudo mv terraform /usr/local/bin/
        terraform version
      displayName: Install Terraform CLI

    - script: |
        cd terraform
        terraform init -backend=false
        terraform validate
      displayName: Terraform Init & Validate
