{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: taskmanager-ingress
  namespace: {{ .Values.namespace.name }}
  annotations:
    {{- toYaml .Values.ingress.annotations | nindent 4 }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ .Values.frontend.name }}-service
            port:
              number: {{ .Values.frontend.service.port }}
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: {{ .Values.backend.name }}-service
            port:
              number: {{ .Values.backend.service.port }}
{{- end }}