apiVersion: v1
kind: Secret
metadata:
  name: db-secret
  namespace: {{ .Values.namespace.name }}
type: Opaque
data:
  # Base64 encoded password
  DB_PASSWORD: {{ .Values.database.password | b64enc | quote }}
  POSTGRES_PASSWORD: {{ .Values.database.password | b64enc | quote }}